.AllVotes{
    height: 15rem;
    width: 98%;
    background-color: #212121;
    position: relative;
    left: 1%;
    top: 6rem;
   
}
h2{
    color: #39FF14;
    text-align: center;
    position: relative;
    top: 10px;
    font-weight: bold;
}

