.AllVotes{
    height: auto;
    width: 98%;
    background-color: #212121;
    position: relative;
    left: 1%;
    top: 6rem;
   
}
h2{
    color: #39FF14;
    text-align: center;
    position: relative;
    top: 10px;
    font-weight: bold;
}

table{
    height: 50vh;
    width: 100%;
    position: relative;
    

}
thead tr th{
    color: #39FF14;
}
table tr td{
    color: white;
    text-align: center;
}